#hamburger {
    border-radius: 0 0 0 0;
    cursor: pointer;
    display: block;
    z-index: 1;
    padding: 3px 4px 3px;
    position: relative;
    background: orange;
    width: 30px;
    height: 30px;
}

/* The white stripes in the hamburger button */
#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 5px;
    width: 90%;
}

nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: LightSlateGray;
}

/*
Style the navigation menu
*/
nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid White;
    border-top: 1px solid White;
    padding: 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
}
