/* Colors used
gray #808080
LimeGreen
orange
PowderBlue
LightSlateGrey

*/

body {
	color: #808080;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 18px;
}

header {
  background-color: White;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 1;
}


h1 {  
	font-family: 'Comfortaa', cursive;
  font-size: 300%;
  color: LightSlateGrey;
  padding: 0;
  margin-top: .05em;
  margin-left: .10em;
  z-index: 0;
  text-align: center;

}

#content {
    background-color: White;
    padding: 52px 10px 10px 10px;
    position: relative;
    width: auto;
    height: 100%;   
}

h2 {
	font-family: 'Book Antiqua', serif;
  font-size: 53px;
  color: LightSlateGrey;
  padding: 5;

}

h3 {
	color: LimeGreen;
	padding: 5;

}

.headSpace {
	background-color: white;
	width: 100%;
	height: 50px;
}

/* Class Selectors */


.container {
  text-align: left;
}



.articleFooter {
	color: PowderBlue;
}


/* Pseudo-class Selectors */

a:link {
  color: orange;
}

a:visited {
  color: White;
}

a:hover {
  color: forestgreen;
}


/* Media Query for Mobile */

@media only screen
  and (min-width: 320px) {

	body {
    overflow-x: hidden;
   }

  .normalNav {
  	display: none;
  }

	.mobileHeader {
	  position: fixed;
	  width: 100%;
	  z-index: 1;
	  background-color: White;
	  box-shadow: 0px 1px 1px LightSlateGray;
	  height: 70px;
	}

	.mobileHeader img {
		position: relative;
		float: left; 
		height: 75px;
		width: 75px;

	}
	.notMobileHeader {
		display: none;
	}

	.mobileFooter {
	  position: fixed;
	  width: 100%;
	  left: 0px;
	  bottom: 0px;
	  z-index: 2;
	  background-color: White;
	  box-shadow: 0px -1px 1px LightSlateGray;
	  height: 36px;
	}


	#hamburger {
	    border-radius: 0 0 0 0;
	    cursor: pointer;
	    display: block;
	    z-index: 1;
	    padding: 3px 4px 3px;
	    position: relative;
	    background: orange;
	    width: 30px;
	    height: 30px;
	}

	/* The white stripes in the hamburger button */
	#hamburger div {
	    background-color: #fff;
	    border: 1px solid #eee;
	    border-radius: 2px 2px 2px 2px;
	    height: 2px;
	    margin-top: 5px;
	    width: 90%;
	}

	nav {
	    opacity: 0;
	    left: 0px;
	    top: 0px;
	    position: fixed;
	    z-index: 0;
	    width: 70%;
	    height: 100%;
	    overflow-x: hidden;
	    overflow-y: auto;
	    background: LightGrey;
	}

	/*
	Style the navigation menu
	*/
	nav ul {
	    list-style: none;
	    margin: 0;
	    width: 100%;
	    padding: 0;
	}

	nav li {
	    position: relative;
	    font-size: 1em;
	    font-weight: bold;
	    border-bottom: 1px solid White;
	    border-top: 1px solid White;
	/*    padding: 5px;
	*/}

	nav li a {
	    color: orange;
	    text-decoration: none;
	}

	/*
	The Layer that will be layed over the content
	so that the content is unclickable while menu is shown
	*/
	#contentLayer {
	    display: none;
	    height: 100%;
	    overflow-x: hidden;
	    overflow-y: auto;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 30%;
	    z-index: 5;
	}

	}
/* Media Query for Tablet */

@media only screen
	and (min-width: 768px) { 
	
h1 {
	text-align: left;
	position: relative;
	left: 140px;
	margin-top: 50px;
	z-index: 1;

}


h1 img {
	float: left;
	position: relative;
	top: 1px;
	left: 1px;
	margin-left: 8px;
	margin-top: 10px;
	height: 200px;
	width: 200px;
	display: none;

}

#content {
	max-width: 75%;
	margin-top: 300px;

}

#content img {
	float: right;
	width: 125px;
	height: 125px;

}

.notMobileHeader {
	display: block;
	z-index: 3;
}

.tabletLogo {
	position: relative;
	top: -150px;
	left: -375px;
	margin-left: 8px;
	margin-top: 10px;
	height: 200px;
	width: 200px;
}


/*.notMobileHeader img {
	position: relative;
	top: -150px;
	left: -375px;
	margin-left: 8px;
	margin-top: 10px;
	height: 200px;
	width: 200px;
}*/

.mobileHeader {
	display: none;

}

div .normalNav {
	background-color: red;
/*	z-index: 7;*/
}

.normalNav ul {
	/*display: block;*/
	float: left;
	max-width: 30%;
}

article {
/*	position: relative;
*/	margin-left: 35%;

}

.mobileFooter {
	display: none;

}

#hamburger {
	display: none;
}

}


